.workflow {
    padding: 280px 15rem 6rem 15rem;
    margin: 0 auto;

    .title {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        text-decoration: underline;
        color: #134794;
        margin-bottom: 40px;
        font-family: 'Space Grotesk', sans-serif;
        // color: #ecf5fd;
    }

    .second-sec {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        .left {
            // background-color: #F2D399;
            flex: 1 1 200px;
            .img {
                width: 100%;
                height: 500px;
                background-size: contain;
                background-repeat: no-repeat;
                // background-position: center;
            }
        }
        .right {
            // background-color: red;
            flex: 1 1 200px;

            .comb {
                margin-bottom: 20px;
                .head {
                    font-weight: 600;
                    font-size: 32px;
                    color: #0f3979;
                    font-family: 'Space Grotesk', sans-serif;
              }
            .span {
                font-size: 50px;
                margin-right: 15px;
                font-weight: 700;
                color: #88b8e8;
                margin-bottom: 10px;

            }
            }

            .para {
                    font-weight: 500;
                    font-size: 20px;
                    font-family: 'DM Sans', sans-serif;
                    color: #333;
            }

            
        }
    }

    .first-sec,
    .third-sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .left {
            // background-color: red;
            flex: 1 1 200px;

            .comb {
                // display: flex;
                // align-items: center;
                margin-bottom: 20px;
                .head {
                    font-weight: 600;
                    font-size: 32px;
                    color: #134794;
                    font-family: 'Space Grotesk', sans-serif;
              }
            .span {
                font-size: 50px;
                margin-right: 15px;
                font-weight: 700;
                color: #88b8e8;
                margin-bottom: 10px;
            }
            }

            .para {
                    font-weight: 500;
                    font-size: 20px;
                    font-family: 'DM Sans', sans-serif;
                    color: #333;
            }

            
        }
        .right {
            // background-color: #F2D399;
            flex: 1 1 200px;
            .img {
                width: 100%;
                height: 500px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .workflow {
        padding: 20rem 1rem 1rem 1rem;

        .second-sec {
            // flex-direction: column;
            flex-wrap: wrap-reverse;
            .right {
                .comb {
                    margin-left: 0;
                }
                .para {
                    width: auto;
                    margin-left: 50px;
                    margin-bottom: 15px;
                }
            }
        }
        .first-sec {
            .left {
                .para {
                    width: auto;
                    margin-bottom: 15px;
                }
            }
        }
        .third-sec {
            .left {
                .para {
                    width: auto;
                    margin-bottom: 15px;
                }
            }
            
        }
    }
}

@media screen and (max-width: 1200px) {
    .workflow {
        padding: 20rem 2rem 1rem 2rem;
    }
}